@charset "UTF-8";



/*reset*/
*{margin:0; padding:0;}
html{overflow-y:scroll;}
li{list-style:none;}
fieldset{border:none;}
legend, hr, .blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px; height:0; overflow:hidden; visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{border:none; vertical-align:middle;}
a{text-decoration:none; color:#4c4c4c;}
body, input, textarea, select, button{font:13px/1.33 Nanum Gothic,'나눔고딕', Malgun Gothic, '맑은고딕', Dotum, '돋움', arial, sans-serif; color:#4d4d4d;}
input, select, button {vertical-align:middle;}
input[type="text"], input[type="email"],input[type="url"], input[type="search"],input[type="password"], select, textarea{border:1px solid #c8c8c8;}
address, em{font-style:normal;}
h1, h2, h3, h4, h5, h6, strong{font-size:100%; font-weight:normal;}
strong{ color:#7d0849;}
.clearFix:after{content:""; display:block;clear:both;}
.clearFix{*zoom:1;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;width: 100%;}
th{font-weight: normal;}
textarea{resize:none;vertical-align: middle;padding: 2px;}
*,
*:after,*:before {
    box-sizing: border-box;
}


/*font-icon*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29932053');
  src: url('../font/fontello.eot?29932053#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?29932053') format('woff2'),
       url('../font/fontello.woff?29932053') format('woff'),
       url('../font/fontello.ttf?29932053') format('truetype'),
       url('../font/fontello.svg?29932053#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*헤더*/
#header_top_wrap{background-color: #cee053; width: 100%;}
#header_top{max-width: 960px;height: 90px;margin: 0 auto;}
#header_top h1{padding-top: 14px; float: left;}
#header_top #util_menu{float: right;padding-top: 36px;}
#header_top #util_menu ul{display: inline-block;}
#header_top form{display: inline-block;position: relative;top: -5px;}
#header_top #util_menu ul li{font-weight: bold;float: left;margin-right: 25px;}
#header_top #util_menu ul li a{position: relative;padding-right: 14px;}
#header_top #util_menu ul li a:before{display:inline-block;content: "\f004"; font-family: 'fontello'; color:#7d0849;position: absolute;top: 0;right:0;}
#header_top #util_menu ul li a:first-child:before{content: "\f005";}
#header_top #util_menu ul li a{ color:#7d0849;}
#header_top label{font-size: 10px;position: absolute;text-outline: 2px;left: 4px;color: #a9a9a9;}
#header_top input{width: 135px; height: 30px;border: none;background-color: #eef4c4;font-size: 12px;padding-left: 10px;}
#header_top input:hover{background: #fff;}
#header_top input:focus{background: #fff;}
#header_top button{position: absolute;top: 6px;right: 10px;background: none;}
#header_top button span{text-indent: -9999px; position: absolute; left: -9999px;}
#header_top button:before{content: "\e801"; font-family: 'fontello';color:#4c4c4c;}
#header #gnb_wrap{height: 50px; width: 100%;}
#header #gnb{max-width: 960px;margin: 0 auto;text-align: center;}
#header #gnb li{ float: left;width: 16.6666%;background: url(../images/common/bg_gnb_bar.png) 0 50% no-repeat;}
#header #gnb li:first-child{background: none;}
#header #gnb li a{display:block;font-weight: bold;font-size: 14px;height: 50px;line-height: 50px;}
#header #gnb li:before{display: inline-block;width: 1px;height: 21px;}
#header #gnb li a:hover, #header #gnb li a:focus{border-bottom: 4px solid #7d0849;color: #7d0849;}

/*#container{background-color: #ddd;}*/



/*푸터*/
#footer{background-color: aqua;margin: 0 auto;}
#footer .share_box_wrap{width: 100%;background-color: #ebedec;height: 46px;line-height: 46px;border-top: 1px solid #d6d6d6;border-bottom: 1px solid #d6d6d6;}
#footer .share_box_wrap .share_box{max-width: 960px;margin: 0 auto;text-align: center;}
#footer .share_box_wrap .share_box p{display: inline-block;font-size: 16px;margin: 0 7px;}
#footer .share_box_wrap .share_box a span{text-indent:-9999px;position: absolute;left: -9999px;}
#footer .share_box_wrap .share_box a:before{display: inline-block;content: "\f09a"; font-family: 'fontello';font-size: 20px;width: 16px;height: 16px;margin: 0 40px;}
#footer .share_box_wrap .share_box a+a:before{content: "\f099";}
#footer .share_box_wrap .share_box a+a+a:before{content: "\f32d";}
#footer .footer_container{max-width: 960px;margin: 0 auto;}
#footer .footer_container .footer_home_link{width: 13%; height: 50px;float: left;background:  url(../images/common/logo_footer.png) 0 0 no-repeat;margin-top: 45px;}
#footer .footer_container .footer_links{width: 87%;float: right;padding:47px 0 29px 0; }
.footer_links .footer_section{width: 33.3333%;float: left;padding-right: 13px;}
.footer_links .footer_section h3{border-bottom: 1px solid #c6c2c1;font-size: 15px;padding-bottom: 11px;}
.footer_links .footer_section h3+ul{padding-top: 30px;}
.footer_links .footer_section h3+ul li{margin-bottom: 14px;}
#footer .social_icons{border-bottom: 1px solid #c6c2c1;float:right;width: 87%;margin: 0 auto;padding: 40px 0;}
#footer .social_icons span{text-indent: -9999px;position: absolute;left: -9999px;}
#footer .social_icons li{float: left;margin: 0 7.425%;}
#footer .footer_message{font-size: 12px;float: right;width: 87%;margin: 87px 0 40px 0;}
#footer .footer_message p{margin-bottom:3px;}




/*컨테이너*/
#container_wrap{width: 100%;}
#container_wrap #container{max-width: 960px;margin: 0 auto;} 
#container_wrap .main_visual_wrap {-ms-behavior:url('backgroundsize.min.htc');background:url(../images/main/bg_visual.jpg) center 30% no-repeat;
-webkit-background-size: cover;width: 100%; height: 431px;}
#container_wrap .main_visual{max-width: 960px; margin: 0 auto;}
#container_wrap .main_visual a:hover{opacity: 1;}
#container_wrap .main_visual a{display: inline-block;padding: 28px 25px;background: #00aeef; opacity: 0.8; color: #fff;width: 38.2%;margin-top:85px;}
#container_wrap .main_visual p:first-child{font-size: 32px;font-weight: 450; margin-bottom: 30px;}
#container_wrap .main_visual p:first-child+p{font-size: 14px;margin-bottom:11px; }
#container_wrap .main_visual p:first-child+p+p{font-size: 11px;}
#container_wrap .content_1 {width: 100%; height: 211px;background: #ebedec;}
#container_wrap .content_1 .main_tab{max-width: 960px;margin: 0 auto;position: relative;}
#container_wrap .content_1 .main_tab .on button{color: #4c4c4c;background: #ebedec;}
#container_wrap .content_1 .main_tab h4 {height: 52px;line-height: 52px;text-align: center;position: absolute;top: -51px;left:0;width: 24.8959%; }
#container_wrap .content_1 .main_tab .btn_2{position: absolute;left: 25%;}
#container_wrap .content_1 .main_tab .btn_3{position: absolute;left: 50%;}
#container_wrap .content_1 .main_tab .btn_4{position: absolute;left: 75%;}
#container_wrap .content_1 .main_tab h4+div{width: 100%;}
#container_wrap .content_1 .main_tab h4 button{font-size:19px;background:#4c4c4c;width:100%;height: 49px;display: inline-block;color: #fff;}
#container_wrap .content_1 .main_tab .trip_type{font-size: 14px;font-weight: bold;display: inline-block;}
#container_wrap .content_1 .main_tab .trip_type label{padding-bottom: 2px;margin-right: 30px;cursor: pointer;}
#round_trip:checked+label, #one_way:checked+label {color: #7d0849;border-bottom: 2px solid #7d0849;}
#container_wrap .content_1 .main_tab ul{display: inline-block;font-size: 14px;font-weight: bold;position: relative;top: 5px;padding-left: 18px;}
#container_wrap .content_1 .main_tab ul:before{content: "";background-color: #d6d6d6;height: 25px;width: 1px;display: inline-block;position: absolute;top: -1px;left: 0;}
#container_wrap .content_1 .main_tab ul li{float: left;margin-right: 25px;}
.main_tab .airport{padding-top: 21px;margin-bottom: 7px;position:relative;}
.main_tab .airport .flight_depart,.main_tab .airport .flight_destination{position: relative;}
.main_tab .airport input{width: 100%;border: none; border-bottom: 1px solid #c6c2c1;height: 49px;line-height: 49px;}
.main_tab .airport label{position: absolute;top: 6px;left: 10px;font-size: 12px;} 
.main_tab .airport .flight_depart{width: 50%;float: left;padding-right: 2px;}
.main_tab .airport .flight_destination{width: 50%;float: left;}
.main_tab .flight_date {width: 54%;display: inline-block;float: left;position: relative;}
.main_tab .flight_date .btn_date_picker{width: 50%;float: left;display: inline-block;position: relative;}
.main_tab .flight_date .btn_date_picker{padding-right: 2px;}
.main_tab .flight_date .btn_date_picker>span {font-size: 12px;position: absolute;top:6px;left: 10px;}
.main_tab .flight_date .btn_date_picker button{width: 100%;height: 49px;text-align: left; display: block;background: #fff;border-bottom: 1px solid #c6c2c1;}
.main_tab .flight_date .btn_date_picker> button >span{padding-left: 10px;margin-top: 20px;display: inline-block;}
.main_tab .passenger{width: 26%;float: left;position:relative;padding-right: 2px;}
.main_tab .passenger>span{font-size: 12px;position: absolute;top:6px;left: 10px;}
.main_tab .passenger button{width: 100%;height: 49px;text-align: left; display: block;background: #fff;border-bottom: 1px solid #c6c2c1;}
.main_tab .passenger button >span{padding-left: 10px;margin-top: 20px;display: inline-block;}
.main_tab .passenger +button{color: #fff;width: 20%;display: block;float: left;background: #7d0849;border-bottom: 1px solid #c6c2c1;height: 49px;line-height: 49px;}
.content_2{padding-top: 70px;margin-bottom: 64px;}
.promotion_header {text-align: center;margin-bottom: 39px;}
.promotion_header .lastest_promotion{font-size: 22px;display: inline-block;vertical-align: middle;}
.promotion_header .destination_list{display: inline-block;}
.promotion_header .destination_list select{background: none;font-size: 22px;border: none;}
.main_prm{margin-bottom: 39px;}
.main_prm .cover{width: 61.98%;float: left;position: relative;}
.main_prm .cover img{width: 100%;}
.main_prm .description{width:38.02%;float: left;padding-left: 5.833%;}
.main_prm .description h4{font-size: 28px;margin-bottom: 20px;}
.main_prm .description h4 span:first-child{font-weight: bold;}
.main_prm .description .item{padding-bottom: 20px;border-bottom: 1px solid #c6c2c1;}
.description .group .pmt{color: #7d0849;font-weight: bold;margin-bottom: 10px;}
.description .group .pmt+a{color: #9aa73e;font-size: 19px;}
.description .group .f_cls{font-size: 16px;margin-top: 8px;}
.description .link{font-size: 16px;margin-top: 19px;}
.secondary_prm {width: 33.3333%; height: 170px;float: left;margin-bottom: 30px;}
.secondary_prm .cover_img{width:41.875%;float: left;position: relative;}
.secondary_prm .cover_img img{z-index: -1;position: relative;}
.secondary_prm .cover_img a{display: block;height: 100%;width: 100%;position: relative;}
.secondary_prm .cover_img a:after, .main_prm .cover:after{content: ""; display:block;width: 42px; height: 42px;position: absolute;
top: 6px;right: -19px;background: url(../images/main/bg_air.png) 0 0 no-repeat;}
.main_prm .cover:before{right:-20px;top:10px;}
.secondary_prm .cover_img img{width: 100%;}
.secondary_prm .information{width:40.937%;float: left; }
.secondary_prm .information h4{font-size: 19px;margin-bottom: 5px;}
.secondary_prm .information .desc{height: 30px;font-size: 12px;color: #7d0849;font-weight: bold;}
.secondary_prm .information .desc+a{font-size: 17px;color: #9aa73e;}
.secondary_prm .information .flight_class{font-size: 12px;border-bottom: 1px solid #c6c2c1;padding-top: 7px;padding-bottom: 8px;margin-bottom: 6px;}
.secondary_prm .information .guide{font-size: 14px;}
.secondary_prm .information{margin-left: 4.375%;}
.trip_promotion .term_service{font-size:12px; text-align: center;margin-bottom: 22px;}
.service_info{font-size: 17px; text-align: center;margin-bottom:32px;}
.service_info a{display: inline-block;padding: 12px 75px;color: #7d0849;text-align: center;border-top: 1px solid #c6c2c1;border-bottom: 1px solid #c6c2c1;margin: 0 31px;}
.nabi_point{width: 100%;height: 259px;background: #ebedec;margin-bottom: 34px;}
.nabi_point .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_1.jpg) center center no-repeat;background-size: cover;}
.nabi_point .details{width: 50%;float: right;padding:0 4.375%;padding-top: 54px;}
.nabi_point h3,.lent_a_car h3,.travel h3{font-size: 24px;margin-bottom: 18px;}
.lent_a_car{width: 100%;height: 259px;background: #ebedec;margin-bottom: 34px;font-size: 16px;}
.lent_a_car .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_2.jpg) center center no-repeat;background-size: cover;}
.lent_a_car .details,.travel .details{width: 50%;float: right;margin-top: 35px;padding: 0 4.375%;}
.travel{width: 100%;height: 259px;background: #ebedec;font-size: 16px; margin-bottom: 65px;}
.travel .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_3.jpg) center center no-repeat;background-size: cover;}
.more{width: 156px;display: block;border: 1px solid #7d0849;padding: 13px 30px;color: #7d0849;font-size: 14px;margin-top: 24px;}
.more:before{content: "\f006";display: inline-block;width: 10px; height: 10px;font-family: 'fontello'; color:#7d0849;position: relative;top: 0;left: 81px;}
.news_letter_wrap{max-width: 680px;margin: 0 auto;}
.news_letter_wrap .news_letter{width: 100%;}
.news_letter h3{color: #00aeef;font-size:28px;text-align: center;margin-bottom: 16px;}
.news_letter .new_header{text-align: center;margin-bottom: 13px;}
.subscription_login .radio_group{margin-bottom: 16px;}
.subscription_login .radio_group label{margin-right: 32px;}
.subscribe_wrap{width: 100%;margin: 0 auto;}
.subscribe_wrap .customer_gender{width: 26.974%;float: left;}
.subscribe_wrap .customer_gender select{width: 100%;height: 49px;display:inline-block;}
.subscribe_wrap .customer_name{width: 35.197%;float: left;margin-left: 1.316%;position: relative;}
.subscribe_wrap .customer_name input{width: 100%;height: 49px;}
.subscribe_wrap .customer_name label{position: absolute;top: 6px;left: 10px;}
.subscribe_wrap .customer_email{width: 100%;float: left;position: relative;margin-top: 8px;}
.subscribe_wrap .customer_email input{width: 100%;height: 49px;}
.subscribe_wrap .customer_email label{position: absolute;top: 6px;left: 10px;}
.legal_notice{width: 100%;position: relative;margin-top: 8px;}
.legal_notice .txt_st{font-weight: bold;color: #7d0849;}
.legal_notice input{display:inline-block;position: absolute;top: 2px;left: 5px;}
.legal_notice label span{display: inline-block;padding-left: 4.44%;}
.subscribe_wrap{width: 100%;}
.subscribe_wrap button[type="submit"]{width: 34.21%;height: 39px;background: #7d0849;color: #fff;display: block;margin:  auto;margin-top: 8px;}