@charset "UTF-8";

#container_wrap{background: #ebedec;}
.join_wrap{width: 960px;height: 369px;margin: 0 auto;}
.join_top p{padding:6px 0;width: 100%;}
.join_top form{width: 62.5%;float: left;}
.join_top .login_container_wrap{width: 80%;float: left;}
.login_container .login_info{position: relative;}
.login_container .login_info input{width: 50%;height: 49px;float: left;border-bottom: 1px solid #c6c2c1;}
.login_container .login_info label{position: absolute;top: 0;left: 0;}
.join_top input[type="submit"]{width: 20%;float: left;}
.join_top .join_bottom{width: 37.5%;float: right;}
.join_bottom .top_title{width: 100%;}
.join_bottom .login_account{width: 100%;}
.join_bottom .login_account .user_join{width: 50%;float: left;}
