@charset "UTF-8";

.sign_in{background: #ebedec;width: 100%;}
.join_wrap{max-width: 960px;height: 369px;margin: 0 auto;}
.join_top p{padding:12px 0;width: 100%;font-size: 12px;}
.join_top form{width: 63.5%;padding-right: 2.708%;float: left;background: url(../images/join/bg_login_bar.png) right 0 no-repeat;}
.join_top .login_container_wrap{width: 80%;float: left;}
.login_container{width: 100%;height: 49px;}
.login_container .login_info{width: 50%;height: 49px;position: relative;float: left;padding-right: 0.839%;}
.login_container .login_info input{width: 100%;height: 49px;float: left;border: none;}
.login_container .login_info label{position: absolute;top: 6px;left: 10px;font-size: 12px;}
.join_top {padding-bottom: 15px;}
.join_top input[type="submit"]{width: 20%;height: 49px;float: left;background: #7d0849;color: #fff;}
.join_top .login_help{width: 36.5%;float: right;padding-left: 21px;}
.join_top .login_help a{font-weight: bold;color: #7d0849;}
.join_bottom{margin-top: 20px;}
.top_title{width: 100%;border-bottom: 1px solid #c6c2c1;padding-bottom: 10px;color: #7d0849;font-size: 14px;font-weight: bold;}
.join_bottom .login_account{width: 100%;}
.join_bottom .login_account .user_join{width: 50%;float: left;}
.login_remember{width: 100%;font-size: 12px;margin-top: 5px;}
.join_bottom .top_title{font-weight: bold;}
.login_account .user_join{padding: 0 15px;}
.login_account .user_join .subtitle{font-size: 14px;color: #97a53b;font-weight: bold;margin-bottom: 15px;}
.login_account .user_join+.user_join .subtitle span{position: relative;padding-right:38px;}
.login_account .user_join+.user_join .subtitle span span{position: absolute;top: -8px;right: 0;display: inline-block;width: 31px;height: 31px;background: url(../images/join/bg_nabi_p.png) right 0 no-repeat;}
.login_account .user_join .description{margin-bottom: 18px;}
.login_account .user_join .description a{color: #7d0849;font-weight: bold;}
.login_account .user_join .description+a{display: inline-block;padding: 10px 18px;border: 1px solid #c6c2c1;}