@charset "UTF-8";

img{max-width: 100%,vertical-align: middle;}
#wrap{max-width: 960px;margin: 0 auto;overflow: hidden;}
.slideWrap .bx-pager-item{display: inline;margin: 0 3px;}
.slideWrap{width: 100%;float: left;position: relative;
}
.slideWrap .bx-pager{position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;
}
.slideWrap .bx-pager-link{
	display: inline-block;
	width: 15px; height: 15px;
	text-indent: -9999px;
	background: url("img/d.png") 0 0 no-repeat;
}
.bx-controls-auto{
	position: absolute; 
	bottom: 0;
	left: 50%;
	margin-left: 55px;
	z-index: 100;

}
.slideWrap .bx-start,.slideWrap .bx-stop{display: none;}
.slideWrap .bx-start.active,.slideWrap .bx-stop.active{display: none;}
.slideWrap .bx-next,.slideWrap .bx-prev{
	margin-top: -32px;
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 31px;
	height: 62px;
	text-indent: -9999px;
	background: url("../images/trip/btn_left_arrow.png") 0 0 no-repeat;
}
.slideWrap .bx-next{background: url("../images/trip/btn_right_arrow.png") 0 0 no-repeat;right: 0;}


.trip_header{background: #ebedec;width: 100%;padding:16px 0 72px 0;}
.header_img{background: url(../images/trip/bg_machu.jpg) 0 0 no-repeat;width: 100%;height: 350px;position: relative;}
.header_img .header_title h3{font-size: 29px;color: #fff;position: absolute;left: 50%;bottom: 50px;margin-left: -70px;}
.header_img .header_title h3 strong{font-weight: bold;}
.header_navigation{position: relative;width: 250px;height: 57px;background: #fff;position: absolute;left:50%;bottom:-28px;margin-left: -125px;box-shadow: 0 4px 4px -4px rgba(0,0,0,0.3);}
.header_navigation ul li{float: left;padding-top: 24px;padding-left: 17%}
.header_navigation ul li+li a{color: #7d0849;}
.header_navigation ul li img{position: absolute;left: 60%;top: -21px;}
.header_navigation ul li:first-child img{left:20%;}
.guide_info{background: #ebedec;width: 100%;}
.guide_info .summary{margin-bottom: 30px;font-size: 14px;text-align: center;}
.gallery_container .gallery_info span{font-size: 30px;color: #7d0849;font-weight: bold;}
.things_to_do .things_header{text-align: center;padding-top: 26px;}
.things_to_do .things_header h3{font-size: 36px;color: #7d0849;margin-bottom: 20px;}
.things_to_do .things_header p{font-size: 16px;}
.things_to_do .things_header .things_list{margin-bottom: 25px;}
.things_to_do .things_container{width: 100%;height: 100%;}
.things_to_do .things_container .to_do_column{width: 31%;margin-left: 3.5%;float: left;}
.things_to_do .things_container .to_do_column:first-child{margin-left: 0;}
.things_to_do .things_container .item{width: 100%;position: relative;margin-bottom: 30px;border-bottom: 1px solid #c6c2c1;border-right: 1px solid #c6c2c1;border-radius: 0.3em;box-shadow: 0 0.3px 0.3px 0.1px rgba(0,0,0,0.2);}
.things_to_do .things_container .item .picture img{width: 100%;border-top-right-radius: 0.3em;border-top-left-radius: 0.3em;}
.things_to_do .things_container .description{}
.things_to_do .things_container .item a img{width: 42px;height: 42px;position: absolute;left: 50%;margin-left: -21px;bottom: -21px;}
.things_container .description{background: #fff;padding:17px;}
.things_container .description .category{margin-bottom: 8px;}
.things_container .description .title{font-size: 23px;margin-bottom: 3px;}
.other_trip {font-size: 16px;text-align: center;color: #7d0849;padding: 30px 0}



